<%- include("header") -%>
<div class="container">
    <h1>Contact</h1>
 
        <div class=" box">
            <form action="mailto:wolvo6205@gmail.com" method=post> 
            <label>Name</label><br>
            <input type="text" name="Name " placeholder="First Name"><br>
            <label>Email</label><br>
            <input type="email" name="Email " placeholder="Email"><br>
            <label>Message</label><br>
            <textarea></textarea><br>
            <button class=" btn-primary"  style="width: 80px; height: 35px;"type="submit">Send</button>     
            </form>
        </div>
    </div>
    
</div>
<%- include("footer") -%>